{% verbatim %}
<ul class="list-group">
  <li ng-repeat="ope in orders.opes" class="list-group-item">
    <span ng-show="ope.money > 0;">
      <i ng-show="ope.pay_type">以</i>{{ ope.pay_type.name }}支付{{ ope.money }}元&nbsp;&nbsp;
    </span> 

    <span ng-show="ope.type == 0 || ope.type == 1">於
      <small>{{ formatDate(ope.create_at) }}</small><b>建立</b>
    </span> 

    <span ng-show="ope.type == 2;">於
      <small>{{ formatDate(ope.create_at) }}</small><b>修改</b>
    </span> 

    <span ng-show="ope.type == 3;">於
      <small>{{ formatDate(ope.create_at) }}</small><b>取消</b>
    </span>

    <span ng-show="ope.card_sn.length > 0;">
      <i>&nbsp;&nbsp;{{ ope.card_sn }}</i>
    </span>

    <button ng-click="setEditOpe(ope);" class="btn btn-xs btn-primary pull-right">修改</button>

    <strong ng-show="ope.user" class="pull-right">操作人員: {{ ope.user.username }}&nbsp;&nbsp;</strong> 
  </li>

  <li ng-show="editOpe" class="list-group-item label-info">
    <select name="payType" ng-model="editOpe.pay_type" ng-options="payType.name for payType in payTypes"></select>

    <input ng-model="editOpe.card_sn" type="text" />

    <button ng-click="saveEditOpe();" class="pull-right btn btn-success btn-xs">儲存</button>
    <button ng-click="setEditOpe(null);" class="pull-right btn btn-default btn-xs">取消</button>
  </li>
</ul>
{% endverbatim %}