{% verbatim %}

<!--// Special Catrl Part -->
<div class="row" ng-show="isOrderSpecial">
	<form role="form">
		<div class="form-group">	
			<div class="col-xs-12 col-sm-4">
				<select class="form-control" ng-model="dateStart" ng-options="eachdate.val for eachdate in dateRepo"></select>
			</div>

			<div class="col-xs-12 col-sm-4">
				<select class="form-control" ng-model="dateEnd" ng-options="eachdate.val for eachdate in dateRepo"></select>
			</div>

			<div class="col-xs-12 col-sm-4">
				<button class="btn btn-primary btn-sm" ng-click="getActivityReocrdWithDate();">查詢</button>
			</div>
	
			<!-- Daphy 要求改成區間選取 -->
			<!-- <div class="col-xs-12 col-sm-12">
				<div class="well well-sm">單日查詢</div>
			</div> -->

			<!-- <div class="col-xs-12 col-sm-12">
				<select class="form-control" ng-change="getActivityReocrdWithDate(true);" ng-model="dateSelected" ng-options="eachdate.val for eachdate in dateRepo"></select>
			</div> -->
		</div>
	</form>
</div>
<!-- Special Catrl Part //-->

<!--// Normal Ctrl Part -->
<div class="row" ng-show="isOrderNormal">
	<form role="form">
		<div class="form-group">
			<div class="col-sm-4">
				<select class="form-control" ng-model="yearSelected" ng-options="eachyear.name for eachyear in years"></select>
			</div>

			<div class="col-sm-4">
				<select class="form-control" ng-model="monthSelected" ng-options="eachmonth.name for eachmonth in months"></select>
			</div>

			<div class="col-sm-2">
				<button ng-click="getAssignMonthRecord();" class="btn btn-success">確定</button>
			</div>
		</div>
	</form>
</div>
<!-- Normal Ctrl Part //-->

<!--// Common Part -->
<div class="row">&nbsp;</div>

<div class="row" ng-show="invoices;">
	<table class="table">
		<tr ng-show="!isEmpty(departments);" class="active">
			<td>部門</td>
			<td>營業額</td>
			<td>商品數</td>
			<td>發票數</td>
			<td></td>
		</tr>

		<tr ng-repeat="department in departments">
			<td>{{ department.name }}</td>
			<td>{{ department.required }}</td>
			<td>{{ department.amount }}</td>
			<td>-</td>
			<td></td>
		</tr>

		<tr class="active" ng-show="!isEmpty(departments);">
			<td>總計</td>
			<td>{{ getDepartmentsTotal('required') }}</td>
			<td>{{ getDepartmentsTotal('amount') }}</td>
			<td>{{ countObj(invoices) }}</td>
			
			<!-- 內銷 -->
			<td class="text-right" ng-show="isOrderNormal">
				<button ng-click="export(true);" class="btn btn-info btn-sm">單月匯出</button>
			</td>

			<!-- 活動 -->
			<td class="text-right" ng-show="isOrderSpecial">
				<button ng-click="export(true);" class="btn btn-info btn-sm">區間匯出</button>
				<button ng-click="export();" class="btn btn-success btn-sm">全部匯出</button>
			</td>
		</tr>
	</table>
	<hr />
</div>

<div class="row">
	<input ng-model="query.sn" type="text" name="filter" class="form-control input-sm" placeholder="店碼" />
</div>

<br>

<div class="panel panel-success" ng-repeat="invoice in invoices | filter:query" ng-if="invoice.id;">
	<div class="panel-heading">
		<b>[{{invoice.store.name}}]</b>
		<i>{{ invoice.sn }}</i>
		<strong ng-show="invoice.custom" class="hidden-xs">{{ invoice.custom.name }}{{ invoice.custom.sex }}</strong>
		<small class="hidden-xs">-{{ formatDate(invoice.create_at, 'yyyy-MM-d H:mm:ss') }}</small>
		<span class="pull-right hidden-xs">{{invoice.user.username }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<b class="pull-right">總金額{{ invoice.total }}元&nbsp;&nbsp;&nbsp;&nbsp;</b>
	</div>

	<div class="panel-body">
		<div class="row" ng-repeat="orders in invoice.orders">
			<h4 class="pointer"
				ng-click="switchDisplay(orders);" 
				ng-class="{dropup: !orders.isDisplay}" 
			>
				<span class="caret"></span>
					<span>{{ orders.kind.name }} 
						<small ng-show="orders.childrens.length == 0"><mark>{{ orders.status.name }}</mark></small>
						<small ng-show="orders.childrens.length > 0"><mark>已退貨</mark></small>
						&nbsp;&nbsp;
					</span>

					<span ng-show="orders.goods_passport.activity" class="label label-warning hidden-xs">{{ orders.goods_passport.activity.name }}</span>
					
					<b>{{ orders.goods_passport.name }}&nbsp;&nbsp;</b>

					<span ng-show="orders.goods_passport.brand" class="label label-default hidden-xs">{{ orders.goods_passport.brand.name }}</span>&nbsp;&nbsp;
					
					<i>{{ orders.goods_passport.sn }}&nbsp;&nbsp;</i>
					
					<span class="hidden-xs">{{ orders.custom.name }}</span>
					
					<span class="pull-right small-font hidden-xs" bind-once>|&nbsp;應付:&nbsp;{{ orders.required }}元&nbsp;&nbsp;</span>
					
					<span class="pull-right small-font hidden-xs" bind-once>|&nbsp;已付:&nbsp;{{ orders.paid }}元&nbsp;&nbsp;</span>
					
					<span class="pull-right small-font" bind-once ng-show="orders.goods_passport.discount && orders.goods_passport.discount != 10;">[{{ orders.goods_passport.discount }}折]&nbsp;&nbsp;</span>
			</h4><hr/>
			
			<tabset justified="true" ng-show="orders.isDisplay">
			    <tab heading="補款">
						
					<div ng-show="orders.status.id == 3;" class="alert alert-danger" role="alert">訂單已經取消</div>

			    	<form ng-show="orders.status.id != 3;" novalidate class="form-horizontal" role="form">
				    	<br />
				    	<br />
							
						<my-form-textarea model="orders" label="'訂單備註'" name="'memo'"></my-form-textarea>
				    	<my-form-span model="orders" label="'應付'" name="'required'"></my-form-span>
						<my-form-span model="orders" label="'已付'" name="'paid'"></my-form-span>
						<my-form-number ng-show="orders.status.id == 1;" model="orders" label="'補付'" name="'diff'" isPrice="1" isRequired="1"></my-form-number>
						<my-form-select model="orders" entitys="payTypes" name="'pay_type'" label="'付費方式'"></my-form-select>
							
						<my-form-input model="orders" name="'content'" label="'操作備註'"></my-form-input>

						<my-form-input model="orders" name="'card_sn'" label="'卡號'"></my-form-input>

						<div class="form-group">
							<label class="col-sm-2 control-label">&nbsp;</label>

							<div class="col-sm-10">
								<button ng-show="orders.status.id != 3;" confirmed-click="_cancel(orders);" ng-confirm-click="確定取消此訂單嘛?" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span>取消訂單</button>

								<button ng-show="orders.status.id != 3 && orders.childrens.length == 0" confirmed-click="turnback(orders);" ng-confirm-click="確定退貨嘛?" class="btn btn-warning"><span class="glyphicon glyphicon-backward"></span>退貨</button>

								<button ng-click="update(orders);" class="btn btn-success">
									<span class="glyphicon glyphicon-ok-circle"></span>更新帳單
								</button>
							</div>	
						</div>
					</form>

					<hr/>
			    </tab>

			    <tab heading="歷程記錄">
			    	<!-- <my-ope-list orders="orders" editOpe="$parent.editOpe" save="saveEditOpe();" init="initEditOpe(orders.opes);"></my-ope-list> -->
					{% endverbatim %}
			    		{% include('WoojinOrderBundle:Ope:list.html.twig') %}
			    	{% verbatim %}
			    </tab>
			</tabset>
		</div>
	</div>
</div>
<!-- Common Part //-->
{% endverbatim %}